@model BlogMVC.Models.Post

<article>
    <h2><a href="/@Model.Slug">@Model.Name</a></h2>
    <p>
        <small>
            Category : <a asp-area="" asp-controller="Category" asp-action="@Model.Category.Slug">@Model.Category.Name</a>,
            by <a asp-area="" asp-controller="Author" asp-action="@Model.IdUser">@Model.User.UserName</a> on <em>@Model.Created.ToString("MMM dd yyyy")</em>
        </small>
    </p>
    <p>
        @{ string content = Model.Content.Substring(0, Math.Min(180, Model.Content.Length)) + "...";}
        <markdown content="@content" />
    </p>
    <p class="text-right"><a href="/@Model.Slug" class="btn btn-primary">Read more...</a></p>
</article>

<hr>